// _media.scss
@import 'variables';
@import 'grid';

/*Mobile*/
@media only screen and (max-width: 767px) {
    .navbar-brand {
        font-size: $font-size-medium;
        margin-top: 10px;
    }

    main {
        margin: 50px 50px 10px;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(20, 5rem);
    }

    .titulo {
        grid-column: 1 / 5;
        font-size: 30px;
    }

    .subtitulo {
        grid-column: 1 / 5;
        grid-row: 2/3;
        font-size: 18px;
        text-align: center;
    }

    .texto,
    .texto3 {
        font-size: 12px;
        grid-column: 1/6;
        grid-row: 3/5;
        text-align: center;
    }

    .texto2 {
        font-size: 12px;
        grid-column: 1/5;
        grid-row: 5/7;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: 100%;
    }

    .img1 {
        grid-column: 1 / 5;
        grid-row: 6 / 8;
    }

    .galeria {
        grid-column: 1 /5;
        grid-row: 9/10;
        font-size: 30px;
    }

    .carrusel {
        grid-column: 1 / 5;
        grid-row: 10/15;
    }

    .TipoDeVehiculo {
        grid-column: 1/5;
        grid-row: 7/8;
    }

    .card1 {
        grid-column: 2/4;
        grid-row: 8/11;
        width: 16rem;
        margin: auto;
    }

    .card2 {
        grid-column: 2/4;
        grid-row: 11/14;
        width: 16rem;
        margin: auto;

    }

    .card3 {
        grid-column: 2/4;
        grid-row: 14/17;
        width: 16rem;
        margin: auto;
    }

    .card4 {
        grid-column: 2/4;
        grid-row: 17/20;
        width: 16rem;
        margin: auto;
    }

    .card-title {
        font-size: 15px;
        text-align: center;
    }

    .btn {
        font-size: 10px;
        float: right;
    }

    .subtitulo2 {
        font-size: 18px;
        grid-column: 1/6;
        grid-row: 10/11;
        text-align: center;
    }

    .texto4 {
        font-size: 12px;
        grid-column: 1/6;
        grid-row: 13/16;
        text-align: center;
    }

    .img2 {
        grid-column: 1/6;
        grid-row: 7/10;
    }

    .img3 {
        grid-column: 1/6;
        grid-row: 11/13;
        margin: 0 auto;
    }

    .card-horizontal {
        flex-direction: column;
    }

    .card-horizontal .card-img {
        width: 100%;
    }

}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar-brand {
        font-size: 40px;
        padding-right: 10px;
        margin-left: 50px;
    }

    main {
        margin: 50px 80px 10px;
    }

    .grid-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(14, 5rem);
    }

    .titulo {
        font-size: 40px;
        grid-column: 1/3;
    }

    .subtitulo {
        font-size: 30px;
        grid-column: 1/8;
        grid-row: 2/3;
    }

    .texto {
        font-size: 15px;
        grid-column: 1/5;
        grid-row: 3/7;
    }

    .texto2 {
        font-size: 15px;
        grid-column: 5/9;
        grid-row: 3/7;
    }

    img {
        max-width: 100%;
        height: 100%;
    }

    .img1 {
        grid-column: 5/8;
        grid-row: 3/6;
    }

    .carrusel {
        grid-column: 2/8;
        grid-row: 8/13;
    }

    .galeria {
        grid-column: 1 /9;
        grid-row: 7/8;
        font-size: 30px;
    }

    .TipoDeVehiculo {
        grid-column: 1/9;
        grid-row: 6/7;
    }

    .card1 {
        grid-column: 2/5;
        grid-row: 7/11;
        margin: auto;

    }

    .card2 {
        grid-column: 5/8;
        grid-row: 7/11;
        margin: auto;


    }

    .card3 {
        grid-column: 2/5;
        grid-row: 11/15;
        margin: auto;

    }

    .card4 {
        grid-column: 5/8;
        grid-row: 11/15;
        margin: auto;

    }

    .btn {
        float: right;
        font-size: 15px;
    }

    .subtitulo2 {
        font-size: 30px;
        grid-column: 1/8;
        grid-row: 8/9;
    }

    .texto3 {
        font-size: 15px;
        grid-column: 1/5;
        grid-row: 3/7;
    }

    .texto4 {
        font-size: 15px;
        grid-column: 5/9;
        grid-row: 9/13;
    }

    .img2 {
        grid-column: 5/9;
        grid-row: 3/7;
    }

    .img3 {
        grid-column: 1/5;
        grid-row: 9/12;
    }

}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    .navbar-brand {
        margin: 20px 80px;
    }

    main {
        margin: 50px 80px 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(16, 5rem);
    }

    .titulo {
        font-size: 40px;
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .subtitulo {
        font-size: 30px;
        grid-column: 2/12;
        grid-row: 2/3;
    }

    .texto {
        font-size: 18px;
        grid-column: 2/6;
        grid-row: 3/6;
    }

    .texto2 {
        font-size: 18px;
        grid-column: 7/11;
        grid-row: 3/6;
    }

    img {
        max-width: 100%;
        height: 100%;
    }

    .img1 {
        grid-column: 7 / 11;
        grid-row: 3/6;
    }

    .galeria {
        grid-column: 1 / 13;
        grid-row: 7/8;
        font-size: 30px;

    }

    .carrusel {
        grid-column: 3 / 11;
        grid-row: 8/13;
        margin: 0 auto;
    }

    .TipoDeVehiculo {
        grid-column: 1/13;
        grid-row: 8/9;
    }

    .card-title {
        font-size: 20px;
    }

    .card1 {
        grid-column: 1/4;
        grid-row: 9/ 12;
        height: 19rem;

    }

    .card2 {
        grid-column: 4/7;
        grid-row: 9/ 12;
        height: 19rem;


    }

    .card3 {
        grid-column: 7/10;
        grid-row: 9/ 12;
        height: 19rem;


    }

    .card4 {
        grid-column: 10/13;
        grid-row: 9/ 12;
        height: 19rem;

    }

    .btn {
        float: right;
        font-size: 15px;
    }

    .subtitulo2 {
        font-size: 30px;
        grid-column: 2/12;
        grid-row: 8/9;
    }

    .texto3 {
        grid-column: 2/7;
        grid-row: 3/7;
    }

    .texto4 {
        grid-column: 6/12;
        grid-row: 9/12;
    }

    .img2 {
        grid-column: 7/13;
        grid-row: 3/7;
    }

    .img3 {
        grid-column: 2/6;
        grid-row: 9/12;
        margin: 0 auto;
    }
}