// _variables.scss
$color-primary: rgb(29, 23, 120);
$font-primary: "Bebas Neue", sans-serif;
$font-secondary: Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-large: 35px;
$font-size-medium: 30px;
$font-size-small: 20px;
